<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.youtubeapiprac.mapper.ResumeMapper">
    <!--insert dto 객체-->
    <insert id="insertResume" parameterType="ResumeRequest">
        <selectKey keyProperty="resumeNo" resultType="Long" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO resume (resumeName,
                            resumeBirth,
                            resumePhoneNumber,
                            resumeAddress,
                            resumePersonalStatement)
        VALUES (#{resumeName},
                #{resumeBirth},
                #{resumePhoneNumber},
                #{resumeAddress},
                #{resumePersonalStatement})

            INSERT INTO resumeEducation (resumeNo,
                                        school,
                                        graduateStatus,
                                        duration)
            VALUES
                <foreach collection="resumeEducations" item="education" separator=";">
                    (#{resumeNo},
                    #{education.school},
                    #{education.graduateStatus},
                    #{education.duration})
                </foreach>

            INSERT INTO resumeCareer (resumeNo,
                                    duration,
                                    history,
                                    position,
                                    duty)
            VALUES
                <foreach collection="resumeCareers" item="career" separator=";">
                    (#{resumeNo},
                    #{career.duration},
                    #{career.history},
                    #{career.position},
                    #{career.duty})
                </foreach>

            INSERT INTO resumeCertification (resumeNo,
                                            acquisitionDate,
                                            certificationName,
                                            publisher,
                                            passStatus)
            VALUES
                <foreach collection="resumeCertifications" item="certification" separator=";">
                    (#{resumeNo},
                    #{certification.acquisitionDate},
                    #{certification.certificationName},
                    #{certification.publisher},
                    #{certification.passStatus})
                </foreach>
    </insert>

</mapper>
